li {
    list-style: none;
}

.field {
    display: flex; 
    flex-direction: column;
    
    
}

.label {
    flex: 5;
    font-size: 1.4rem; 
}

.input {
    flex: 2;
    width: 500px;
}

button {
    margin: 0.3rem 0 0.3rem 0;
    padding: 0.5rem;
    background-color: rgb(3, 19, 241);
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Recursive', sans-serif;
}

.serviceRequests h2 { 
    background-color: greenyellow;
}

.requests-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    
}

.plumbers {
  
}